In [2]:
import psycopg2
import pandas as pd

# Connect to an existing database
conn = psycopg2.connect("dbname=getting_started user=postgres password=Gatsby")


with conn:
    # Open a cursor to perform database operations
    cur = conn.cursor()
    cur.execute("SELECT * FROM weather")

    rows = cur.fetchall()
    cols = [desc[0] for desc in cur.description]
    df = pd.DataFrame(rows, columns = cols)

In [3]:
df

             city  year warm_month cold_month  average_high
0          Boston  2013       July    January            59
1         Chicago  2013       July    January            59
2           Miami  2013     August    January            84
3          Dallas  2013       July    January            77
4         Seattle  2013       July    January            61
5        Portland  2013       July   December            63
6   San Francisco  2013  September   December            64
7     Los Angeles  2013  September   December            75
8   New York City  2013       July    January            62
9      Washington  2013       July    January           NaN
10        Houston  2013       July    January           NaN
11      Las Vegas  2013       July   December           NaN
12        Atlanga  2013       July    January           NaN

In [5]:
df['average_high'].mean()

67.11111111111111